[packageName] (c) by [authors]

[packageName] is licensed under Creative Commons Attribution 3.0 Unported License.

You should have received a copy of the license along with this work.
If not, see: https://creativecommons.org/licenses/by/3.0/legalcode

Notice: The text for the "Creative Commons Attribution 3.0 Unported License" above is rewritten from: https://creativecommons.org/2011/04/15/plaintext-versions-of-creative-commons-licenses-and-cc0/
Thanks to: cwebber <https://creativecommons.org/author/cwebber/>
